
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background : #fffffff1;
}
nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
   

   
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10 20px;
}

nav ul li a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

nav ul li a:hover {
    color: #19031d;
}

